pom.xml
pom.xml.asc
*.jar
*.class
*.log
*.stl
[0-9a-f]*-init.clj
/bin/
/lib/
/classes/
/target/
/checkouts/
/.clj-kondo/
.eastwood
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.idea/
*~


.calva/output-window/output.calva-repl
.settings/
.project

.lsp/sqlite.db

libbulletjme.so

liblwjgl64.so

libopenal64.so

.settings/
.classpath
.project

.calva/
.lsp/


*.so

docs/cloverage/codecov.json

docs/cloverage/coverage.xml

src/cc/journeyman/the_great_game/cloverage.clj

.DS_Store

.portal/

# Excluding third party resources from the public repo;
# probably ought to list them in the README files.
resources/jme3/images/
resources/jme3/textures/
resources/polyhaven/textures/
workspace.code-workspace
