pom.xml
pom.xml.asc
*.jar
*.class
*.log
*.stl
[0-9a-f]*-init.clj
/lib/
/classes/
/target/
/checkouts/
/.clj-kondo/
.eastwood
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*~


.calva/output-window/output.calva-repl
.settings/